@inject Microsoft.Extensions.Localization.IStringLocalizer<WorldTravel.Localization.WorldTravelResource> L
@{
}
<link href="~/extensions/whatsapp/whatsapp.css" rel="stylesheet" />
<!-- wpp-btn-mobile -->
<div class="phone-call cbh-phone cbh-green cbh-show  cbh-static" id="clbh_phone_div" style="">
    <a id="WhatsApp-button" href="https://wa.me/905343970662" target="_blank" class="phoneJs" title="@L["ContactMe"]">
        <div class="cbh-ph-circle"></div><div class="cbh-ph-circle-fill"></div><div class="cbh-ph-img-circle1"></div>
    </a>
</div>
<!-- wpp-btn-mobile -->