@page
@inject Microsoft.Extensions.Localization.IStringLocalizer<WorldTravel.Localization.WorldTravelResource> L
@model WorldTravel.Web.Pages.Account.ChangePasswordResultModel
@{
    Layout = "~/Pages/Shared/_Layout2.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 main-col">
            <div class="mb-4">
                @if (Model.Result)
                {
                    <h5 style="margin: 100px;">@L["YourPasswordHasBeenChangedSuccessfully"]</h5>
                }
                else
                {
                    <h5 style="margin: 100px;">@L["AnErrorOccurredWhileChangingYourPassword"]</h5>
                }
            </div>
        </div>
    </div>
</div>